.p {
    text-align: center;
    font-family: 'Verdana', sans-serif;
    margin-top: 5px;
    margin-bottom: 5px;
    font-size: 16px;
    background-color: beige;
    line-height: 1.35;
    padding: 10px;
    border-radius: 25px;
    margin-bottom: 15px;
}

.h1 {
    font-family: 'Verdana', sans-serif;
    padding: 30px;
    font-size: 50px;
    background-color: beige;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    border-radius: 25px;
}

.list {
    font-size: 16px;
    background-color: beige;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 25px;
    font-family: 'Verdana', sans-serif;
}

.img {
    margin: 10px;
    border-radius: 25px;
}