.p {
    text-align: center;
    font-family: 'Sans Serif', sans-serif;
    margin-top: 5px;
    margin-bottom: 5px;
    font-size: 16px;
    background-color: aquamarine;
    line-height: 1.35;
}

.h1 {
    padding: 30px;
    font-size: 50px;
    background-color: rgb(128, 240, 203);
    margin-left: 40%;
    margin-right: 40%;
    text-align: center;
}