.p {
    text-align: center;
    font-family: 'Verdana', sans-serif;
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 16px;
    background-color: beige;
    line-height: 1.5;
    padding: 10px;
    border-radius: 25px;
}

.h1 {
    font-family: 'Verdana', sans-serif;
    padding: 30px;
    font-size: 50px;
    background-color: beige;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    border-radius: 25px;
    width: auto;
    margin-bottom: 15px;
}

.list {
    font-size: 16px;
    background-color: beige;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 25px;
    font-family: 'Verdana', sans-serif;
    line-height: 1.5;
}

.img {
    margin: 10px;
    border-radius: 25px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    width: 10%;
    background-color: white;
}

.h4 {
    font-family: 'Verdana', sans-serif;
    padding: 20px;
    font-size: 40px;
    background-color: beige;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    border-radius: 25px;
    margin-top: 40px;
    width: auto;
    margin-bottom: 15px;
}

.h6 {
    font-family: 'Verdana', sans-serif;
    padding: 10px;
    font-size: 20px;
    background-color: beige;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    border-radius: 25px;
    margin-top: 40px;
    width: auto;
    margin-bottom: 15px;
}

.pllimg {
    margin: 10px;
    border-radius: 25px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    width: 10%;
    background-color: white;
    padding: 10px;
}

.ollimg {
    margin: 10px;
    border-radius: 25px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    width: 10%;
    background-color: white;
    padding: 1px;
}